<div style="margin-top: 50px; margin-left: 100px;">
  <h4 style="width: 140px; text-align: center; background-color: #d5d5d5;">新規会員登録</h4>
</div>

<div style="margin-top: 50px; margin-left: 70px;">
  <%= form_with model: @customer, url: new_customer_registration_path, local: true do |f| %>
    <%= render "customers/shared/error_messages", resource: resource %>

    <div class="field", style="margin-bottom: 10px;">
      <span>名前</span>
      <span style="margin-left: 128px;">（姓）</span>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", style: "margin-left: 13px;" %>
      <span style="margin-left: 50px;">（名）</span>
      <%= f.text_field :first_name, autocomplete: "first_name", style: "margin-left: 14px;" %>
    </div>
  
    <div class="field", style="margin-bottom: 10px;">
      <span>フリガナ</span>
      <span style="margin-left: 100px;">（セイ）</span>
      <%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %>
      <span style="margin-left: 50px;">（メイ）</span>
      <%= f.text_field :first_name_kana, autocomplete: "first_name_kana" %>
    </div>
  
    <div class="field", style="margin-bottom: 10px;">
      <span style="margin-right: 100px;">メールアドレス</span>
      <%= f.email_field :email, autocomplete: "email", style: "margin-left: 19px;" %>
    </div>
  
    <div class="field", style="margin-bottom: 10px;">
      <span style="margin-right: 100px;">住所</span>
      <%= f.text_field :address, autocomplete: "address", style: "width: 413px; margin-left: 87px;" %>
    </div>
  
    <div class="field", style="margin-bottom: 10px;">
      <span>電話番号</span><span style="font-size: 12px;">（ハイフンなし）</span>
      <%= f.text_field :phone_number, autocomplete: "phone_number", style: "margin-left: 64px;" %>
    </div>

    <div class="field", style="margin-bottom: 10px;">
      <span>パスワード</span>
      <% if @minimum_password_length %>
      <em style="font-size: 12px;">(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", style: "margin-left: 77px;" %>
    </div>

    <div class="field", style="margin-bottom: 10px;">
      <span>パスワード</span><span style="font-size: 12px;">（確認用）</span>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "margin-left: 86px" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "btn btn-success", style: "margin-left: 250px; margin-top: 15px; padding: 2px 35px;"%>
    </div>
  <% end %>
</div>

<div style="margin-top: 50px; margin-left: 100px;">
  <h4 style="width: 160px; text-align: center; background-color: #d5d5d5;">既に登録済みの方</h4>
  <div style="margin-top: 15px; margin-left: 30px;">
    <%= link_to "こちら", new_customer_session_path %><span style="margin-left: 10px;">からログインしてください。</span>
  </div>
</div>