<div style="margin-top: 50px; margin-left: 100px;">
  <h4 style="width: 200px; text-align: center; background-color: #d5d5d5;">配送先編集</h4>
</div>

<div style="margin-top: 20px; margin-left:150px; margin">
  <%= form_with model: @deliver, local: true do |f| %>
    <div style="margin-bottom: 10px;">
      <span style="margin-right: 50px;">郵便番号（ハイフンなし）</span>
      <%= f.text_field :post_number %>
    </div>
    <div style="margin-bottom: 10px;">
      <span style="margin-right: 190px;">住所</span>
      <%= f.text_field :address, style: "width: 400px;" %>
    </div>
    <div>
      <span style="margin-right: 190px;">宛名</span>
      <%= f.text_field :name %>
      <%= f.submit "編集する", class: "btn btn-success", style: "margin-left: 300px; padding: 2px 20px;" %>
    </div>
  <% end %>
</div>