
<!----css => app/assets/stylesheets/customers/order_items/new.scss>-->
<!----helpers => app/helpers/application_helper.rb>-->

<h4 class="customer-index">注文情報入力</h4>

<div class="orders-new-info">
  <div class="">
    <h4 class="orders-new-info-index">支払方法</h4>
    <div>
      <%= form_with model: @order, url: confirm_orders_path(@order), local: true do |f| %>
        <% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
          <% @sum += sum_total_price(cart_item.item.price, cart_item.amount) %>
        <% end %>
        <%= f.hidden_field :total_price, :value => (@sum + @order.shipping_cost) %>
      
        <div class="orders-new-payment-select">
          <p>
            <%= f.radio_button :payment_method, "クレジットカード", checked: true %>
            <%= f.label :payment_method, "クレジットカード" %>
          </p>
          <p>
            <%= f.radio_button :payment_method, "銀行振込" %>
            <%= f.label :payment_method, "銀行振込" %>
          </p>
        </div>

        <div class="">
          <h4 class="orders-new-info-index">お届け先</h4>
          <div class="orders-new-select">
            <div class="orders-new-costomer-address">
              <div>
                <%= f.radio_button :address_select, 0, checked: true %>
                <%= f.label :address, "ご自身の住所", { value: current_customer.address } %>
              </div>
              <p class="orders-new-address">
                <%= current_customer.post_number %>
                <%= current_customer.address %>
              </p>
              <p class="orders-new-address">
                <span><%= current_customer.last_name %></span>
                <span><%= current_customer.first_name %></span>
              </p>
            </div>
          </div>
        </div>
      
        <div class="orders-new-address-select">
          <%= f.radio_button :address_select, 1 %>
          <%= f.label :address, "登録済住所から選択", { value: @deliver } %>
          <p class="orders-new-address">
            <%= f.collection_select :address_id, @delivers, :id, :address, include_blank: "--配送先を選択してください--" %>
          </p>
        </div>

    　   <div class="orders-new-address-input">
    　     <div>
            <%= f.radio_button :address_select, 2 %>
            <%= f.label :address, "新しいお届け先" %>
          </div>
          <div class="">
            <div>
              <span>郵便番号（ハイフンなし）</span>
              <span class="order-new-address-input-post-number">
                <%= f.text_field :post_number %>
              </span>
            </div>
          </div>  
          <div class="orders-new-address-input-form">
            <span class="orders-new-address-input-form-tag">住所</span>
            <%= f.text_field :address, style: "width: 400px;" %>
          </div>
          <div>
            <span class="orders-new-address-input-form-tag">宛名</span>
            <%= f.text_field :name %>
          </div>
        </div>
        
        <div class="orders-new-confirm-button">
          <%= f.submit "確認画面へ進む", class: "btn btn-lg btn-primary", style: "margin-left: 300px; padding: 2px 20px;" %>
        </div>
      <% end %>
    </div>
  </div>
</div>  
