
<!----css => app/assets/stylesheets/managers/items/items_edit.scss>-->

  <h4 class="items-index">商品編集</h4>

<%= form_with model: @item, url: managers_item_path, local: true do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div>
          <%= attachment_image_tag @item, :image, :fill, 200, 200, class: "profile-thumb", fallback: "no_image.jpg" %>
        </div>
        <div>
          <%= f.attachment_field :image %>
        </div>
      </div>
  
      <div class="col-lg-6">
        <div class="item-edit-detail">
          <span>
            <%= f.label "商品名" %>
          </span>
          <span class="item-edit-name">
            <%= f.text_field :name %>
          </span>
        </div>
        <div class="item-edit-detail">
          <span>
            <%= f.label "商品説明" %>
          </span>
          <span class="item-edit-introduction">
            <%= f.text_area :introduction, :size => "40x10" %>
          </span>
        </div>
        
        <div class="item-edit-detail">
          <span>
            <%= f.label "ジャンル" %>
          </span>
          <span class="item-edit-genre">
            <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %>
          </span>
        </div>
        <div class="item-edit-detail">
          <span>
            <%= f.label "税抜価格" %>
          </span>
          <span class="item-edit-price">
            <%= f.text_field :price %>
          </span>
          <span>円</span>
        </div>
        <div class="item-edit-detail">
          <span>
            <%= f.label "販売" %></br><%= f.label "ステータス" %>
          </span>
          <span class="item-edit-status">
            <%= f.select :is_active, [["販売中", true], ["販売停止中", false]] %>
          </span>
        </div>
      </div>
  
      <div class="col-lg-2 item-edit-submit">
        <%= f.submit "変更を保存", class: "btn btn-m btn-primary" %>
      </div>
    </div>
  </div>  
<% end %>

