<div style="margin-top: 50px; margin-left: 100px;">
  <h4 style="width: 140px; text-align: center; background-color: #d5d5d5;">商品一覧</h4>
</div>

<table class="table table-striped", style="margin-top: 50px; margin-left: 50px; width: 90%;">
  <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td>
        <%= link_to managers_item_path(item) do %>
          <%= item.name %>
        <% end %>
      </td>
      <td><%= item.price %></td>
      <td>
        <% if item.genre_id == 1 %>
          <%= "ケーキ" %>
        <% elsif item.genre_id == 2 %>
          <%= "プリン" %>
        <% elsif item.genre_id == 3 %>
          <%= "焼き菓子" %>
        <% elsif item.genre_id == 4 %>
          <%= "キャンディ" %>
        <% else %>
          <%= "アイスクリーム" %>
        <% end %>
      </td>
      <td>
        <% if item.is_active == true %>
          <%= "販売中" %>
        <% else %>
          <%= "売り切れ" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>