
<!----css => app/assets/stylesheets/managers/items/items_show.scss>-->

<h4 class="items-index">商品詳細</h4>

<div>
  <div class="col-sm-3 managers-item-image">
    <%= attachment_image_tag @item, :image, :fill, 200, 200, format: "jpeg", class: "profile-thumb", fallback: "no_image.jpg" %>
  </div>
  
  <div class="col-sm-6 item-detail">
    <div class="container">
      <div class="row item-show">
        <div class="col-sm-1">
          <div class="item-show-tag">商品名</div>
        </div>
        <div class="col-sm-11">
          <div class="item-show-info"><%= @item.name %></div>
        </div>
      </div>
        
      <div class="row item-show">
        <div class="col-sm-1">
          <div class="item-show-tag">商品説明</div>
        </div>
        <div class="col-sm-11">
          <div class="item-show-info item-show-introduction"><%= @item.introduction %></div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-sm-1">
          <div class="item-show-tag">ジャンル</div>
        </div>
        <div class="col-sm-11">
          <div class="item-show-info"><%= @item.genre.name %></div>
        </div>
      </div>
    </div>
    
    <div class="item-show-price">
      <span class="item-show-tag">税込価格(税抜価格）</span>
      <span class="item-show-info">
        <%= ((@item.price * 1.10).round).to_s(:delimited) %><%= "（#{@item.price.to_s(:delimited)}）" %>
        円
      </span>
    </div>
      
    <div class="item-show-sell">
      <span class="item-show-tag">販売ステータス</span>
      <span class="item-show-sell-status">
        <% if @item.is_active == true %>
          <%= "販売中" %>
        <% else %>
          <%= "販売停止中" %>
        <% end %>
      </span>
    </div>
  </div>
  
  <div class="col-sm-3 item-show-submit">
    <%= button_to "編集する", edit_managers_item_path(@item), method: :get, class: "btn btn-info" %>
  </div>
</div>