
<!----css => app/assets/stylesheets/managers/items/items_show.scss>-->

  <h4 class="items-index">商品詳細</h4>

<div>
  <div class="col-lg-3 image">
    <%= attachment_image_tag @item, :image, :fill, 200, 200, format: "jpeg", class: "profile-thumb", fallback: "no_image.jpg" %>
  </div>
  
  <div class="col-lg-6 item-detail">
    <div class=item-main>
      <p class="info">
        <span>商品名</span>
        <span class="item-info item-show-name"><%= @item.name %></span>
      </p>
      <p class="info">
        <span>商品説明</span>
        <span class="item-info item-show-introduction"><%= @item.introduction %></span>
      </p>
    </div>
    
    <div class="item-sub">
      <p class="info">
        <span>ジャンル</span>
        <span class="item-info item-show-genre"><%= @item.genre.name %></span>
      </p>
      <p class="info">
        <span>税込価格(税抜価格）</span>
        <span class="item-info item-show-price">
          <%= ((@item.price * 1.10).round).to_s(:delimited) %><%= "（#{@item.price.to_s(:delimited)}）" %>
        </span>
        <span>円</span>
      </p>
      <p class="info">
        <span>販売ステータス</span>
        <span class="item-info item-show-status">
          <% if @item.is_active == true %>
            <%= "販売中" %>
          <% else %>
            <%= "販売停止中" %>
          <% end %>
        </span>
      </p>
    </div>
  </div>
  
  <div class="col-lg-3 item-show-submit">
    <%= button_to "編集する", edit_managers_item_path(@item), method: :get, class: "btn btn-info" %>
  </div>
</div>