<div style="margin-top: 50px; margin-left: 100px;">
  <h4 style="width: 200px; text-align: center; background-color: #d5d5d5;">注文情報確認</h4>
</div>

<div class="col-lg-9">
  <table style="border-collapse: collapse; height: 40px;">
    <tr>
      <th style="width: 40%; border: 1px solid;">商品名</th>
      <th style="width: 20%; border: 1px solid;">単価（税込）</th>
      <th style="width: 20%; border: 1px solid;">数量</th>
      <th style="width: 20%; border: 1px solid;">小計</th>
    </tr>
    <% @order_items.each do |order_item| %>
      <tr>
        <td>
          <%= attachment_image_tag order_item, :image, :fill, 10px, 10px, fallback: "no_image.jpg" %>
          <%= item(order_item).name %>
        </td>
        <td>
          <%= order_item.price %>
        </td>
        <td>
          <%= order_item.amount %>
        </td>
        <td>
          <%= (order_item.price * order_item.amount).round %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="col-lg-3">
  <table style="border-collapse: collapse; height: 40px;">
    <% @orders.each do |orders| %>
      <tr>
        <th style="width: 10%; border: 1px solid;">送料</th>
        <td><%= order.shipping_cost %></td>
      </tr>
      <tr>
        <th style="width: 50%; border: 1px solid;">商品合計</th>
        <td><%= order.total_price %></td>
      </tr>
      <tr>
        <th style="width: 15%; border: 1px solid;">請求金額</th>
        <td><%= (order.total_price + order.shipping_cost) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div>
  <h4>支払方法</h4>
  <div>
      <%= @order.payment_method %>
  </div>
</div>

<div>
  <h4>お届け先</h4>
  <div>
      <span><%= @order.post_number %></span>
      <span><%= @order.address %></span>
      <P><%= @order.name %></P>
  </div>
</div>

<div>
  <%= button_to "購入を確定する", customers_order_item_thanks_path %>
</div>