
<!----css => app/assets/stylesheets/customers/orders/index.scss>-->


<h4 class="customer-index">注文履歴一覧</h4>


<table class="customer-orders-table table-stripped">
  <tr class="customer-orders-table-tag">
    <th class="customer-orders-table-index customer-orders-table-order-tag">注文日</th>
    <th class="customer-orders-table-index customer-orders-table-deliver-tag">配送先</th>
    <th class="customer-orders-table-index customer-orders-table-item-tag">注文商品</th>
    <th class="customer-orders-table-index customer-orders-table-payment-tag">支払金額</th>
    <th class="customer-orders-table-index customer-orders-table-status-tag">ステータス</th>
    <th class="customer-orders-table-index customer-orders-table-button-tag">注文詳細</th>
  </tr>
  
  <% @orders.each do |order| %>
    <tr>
      <td class="customer-orders-table-item">
        <%= order.created_at.strftime('%Y/%m/%d') %> 
      </td>
      <td class="customer-orders-table-item">
        <%= order.post_number %></br>
        <%= order.address %></br>
        <%= order.name %>
      </td>
      
      <td class="customer-orders-table-item">
        <% @order_items.each do |order_item| %>
          <%= order_item.item.name %>
        <% end %>  
      </td>
      <td class="customer-orders-table-item">
        <%= order.total_price %>
      </td>
      <td class="customer-orders-table-item">
        <%= order.progress_status %>
      </td>
      <td class="customer-orders-table-item">
        <%= link_to "表示する", order_item_path(order.id), class: "btn btn-primary" %>
      </td>
    </tr>
  <% end %>
</table>

<div class="paginate">
  <%= paginate @order_items %>
</div>