<div style="margin-top: 50px; margin-left: 100px;">
  <h4 style="width: 140px; text-align: center; background-color: #d5d5d5;">会員詳細</h4>
</div>

<div>
  <% @customers.each do |customer| %>
    <div class="">
      <%= "顧客ID" %><%= customer.id %>
    </div>
    <div class="">
      <%= "氏名" %><%= customer.last_name %><%= customer.first_name %>
    </div>
    <div>
      <%= "フリガナ" %><%= customer.customer.last_name_kana %><%= customer.customer.first_name_kana %>
    </div>
    <div>
      <%= "郵便番号" %><%= customer.post_number %>
    </div>
    <div>
      <%= "住所" %><%= customer.address %>
    </div>
    <div>
      <%= "電話番号" %><%= customer.phone_number %>
    </div>
    <div>
      <%= "メールアドレス" %><%= customer.email %>
    </div>
    <div>
      <% if customer.is_active == true %>
        <%= "会員ステータス" %><%= "有効" %>
      <% else %>
        <%= "会員ステータス" %><%= "退会済み" %>
      <% end %>
    </div>
    <div>
      <%= f.submit "変更を保存する", class: "btn btn-sm btn-primary"%>
    </div>
  <% end %>
</div>
