<div class="col-lg-3">
  <table class="items-genres-table">
    <tr>
      <th class="items-genres-table-index">ジャンル検索</th>
    </tr>
    <% @genres.each do |genre| %>
      <% if genre.is_active == true %>
        <tr>
          <td class="items-genres-table-content"><%= genre.name %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="col-lg-9">
  <h2>商品一覧
    <span>（全</span><span><%= Item.count %></span><span>件）</span>
  </h2>
  
  <div>
    <div class="items-index-contents">
      <% @items.each do |item| %>
        <% if item.genre.is_active == true %>
          <div class="items-index-content">
            <div>
              <%= attachment_image_tag item, :image, :fill, 100, 100, class: "profile-thumb", fallback: "no_image.jpg" %>
            </div>
            <p>
              <%= link_to item_path(item) do %>
                <%= item.name %>
              <%end %>
            </p>
            <p>
              <%= (item.price).to_s(:delimited) %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="paginate">
      <%= paginate @items %>
    </div>
  </div>
  