<div class="col-lg-3">
  <table style="border: 2px solid; margin-top: 100px;margin-left: 20px;">
    <tr>
      <th style="font-size: 20px; padding: 3px 60px; background-color: #fff4a5; border-bottom: 2px solid;">ジャンル検索</th>
    </tr>
    <% @genres.each do |genre| %>
      <% if genre.is_active == true %>
        <tr>
          <td style="font-size: 20px; padding-left: 5px; padding-bottom: 20px;"><%= genre.name %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="col-lg-9">
  <h2>商品一覧
    <span>（全</span><span><%= Item.count %></span><span>件）</span>
  </h2>
  
  <div>
    <div style="display: flex; justify-contents: center;">
      <% @items.each do |item| %>
        <div style="margin-right: 50px;">
          <div>
            <%= attachment_image_tag item, :image, :fill, 100, 100, class: "profile-thumb", fallback: "no_image.jpg" %>
          </div>
          <p>
            <%= link_to item_path(item) do %>
              <%= item.name %>
            <%end %>
          </p>
          <p>
            <%= item.price %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  