<div style="margin-top: 50px; margin-left: 100px;">
  <h4 style="width: 200px; text-align: center; background-color: #d5d5d5;">ジャンル一覧・追加</h4>
</div>

<div>
  <%= form_with model: @genre, url: managers_genres_path, local: true do |f| %>
    <div style="margin-top: 50px; margin-left: 50px;">
      <%= "ジャンル" %>
      <%= f.text_field :name, style: "margin: 0 20px;" %>
      <%= f.radio_button :is_active, :true %><%= label_tag "有効" %>
      <span style="margin-left: 5px; margin-right: 10px;"><%= f.radio_button :is_active, :false %><%= label_tag "無効" %></span>
      <%= f.submit "追加", class: "btn btn-m btn-info"%>
    </div>
  <% end %>
</div>

<table class="table table-striped", style="margin-top: 50px; margin-left: 50px; width: 40%;">
  <tr>
    <th>ジャンル</th>
    <th>状態</th>
    <th></th>
  </tr>
  <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td>
        <% if genre.is_active == true %>
          <%= "有効" %>
        <% else %>
          <%= "無効" %>
        <% end %>
      </td>
      <td><%= button_to "編集する", edit_managers_genre_path(genre.id), method: :get, class: "btn btn-sm btn-primary" %></td>
    </tr>
  <% end %>
</table>