<div style="margin-top: 50px; margin-left: 100px;">
  <h4 style="width: 300px; text-align: center; background-color: #d5d5d5; margin-top: 150px; margin-left: 100px;">会員の方はこちらからログイン</h4>
</div>

<div style="margin-top: 20px; margin-left: 300px;">
  <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
    <div class="field", style="margin-bottom: 15px;">
      <span>メールアドレス</span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "margin-left: 10px; width: 400px;" %>
    </div>

    <div class="field">
      <span>パスワード</span>
      <%= f.password_field :password, autocomplete: "current-password", style: "margin-left: 37px; width: 400px;" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field", style="margin-top: 10px; margin-left: 290px;">
        <%= link_to "=> パスワードを忘れた方はこちら", new_customer_registration_path %>
      </div>
    <% end %>
    
    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary", style: "margin-top: 15px; margin-left: 250px; padding: 2px 35px;" %>
    </div>
  <% end %>
</div>

<div style="margin-top: 50px; margin-left: 100px;">
  <h4 style="width: 200px; margin-left: 100px; text-align: center; background-color: #d5d5d5;">登録がお済みでない方</h4>
  <div style="margin-top: 15px; margin-left: 200px;">
    <%= link_to "こちら", new_customer_registration_path %><span style="margin-left: 10px;">から新規登録を行ってください。</span>
  </div>
</div>

