<!DOCTYPE html>
<html>
  <head>
    <title>ながのCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!----css => app/assets/stylesheets/application.scss>-->

  <body>
    <div class="header">
      <div class="nav-header">LOGO</div>
      <% if customer_signed_in? %>
        <div class="customer-name">
          ようこそ、<%= (current_customer.last_name + current_customer.first_name) %>さん！
        </div>
        <nav class="header-navigation">
          <div class="slide-menu">
            <ul class="nav navbar-right">
              <li class="", style="display: inline-block;">
                <%= link_to "マイページ", customers_path(current_customer) %>
              </li>
              <li class="", style="display: inline-block;">
                <%= link_to "商品一覧", items_path %>
              </li>
              <li class="", style="display: inline-block;">
                <%= link_to "カート", cart_items_path(current_customer) %>
              </li>
              <li class="", style="display: inline-block;">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
              </li>
            </ul>
          </div>
        </nav>
        
      <% elsif manager_signed_in? %>
        <nav class="header-navigation">
          <div class="slide-menu">
            <ul class="nav navbar-right">
              <li class="", style="display: inline-block;">
                <%= link_to "商品一覧", managers_items_path %>
              </li>
              <li class="", style="display: inline-block;">
                <%= link_to "会員一覧", managers_customers_path %>
              </li>
              <li class="", style="display: inline-block;">
                <%= link_to "注文履歴一覧", managers_orders_path %>
              </li>
              <li class="", style="display: inline-block;">
                <%= link_to "ジャンル一覧", managers_genres_path %>
              </li>
              <li class="", style="display: inline-block;">
                <%= link_to "ログアウト", destroy_manager_session_path, method: :delete %>
              </li>
            </ul>
          </div>
        </nav>
      <% else %>
        <nav class="header-navigation">
          <div class="slide-menu">
            <ul class="nav navbar-right">
              <li class="", style="display: inline-block;">
                <%= link_to "About", "/customers/about" %>
              </li>
              <li class="", style="display: inline-block;">
                <%= link_to "商品一覧", items_path %>
              </li>
              <li class="", style="display: inline-block;">
                <%= link_to "新規登録", new_customer_registration_path %>
              </li>
              <li class="", style="display: inline-block;">
                <%= link_to "ログイン", new_customer_session_path %>
              </li>
            </ul>
          </div>
        </nav>
        <% end %>
      </nav>
    </div>
    
    <%= yield %>
    
    
  </body>
  
</html>
